# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="1927034810974nfb*HBFSDIHBAISFUB98a&G#*FIOUYASDB*&EHF*&HO*%YBKLHXBVJCSHBHMJNBXZ<BBJWHWQP*OIYT*&GSUIYDFKHBO)"
AUTH_TRUST_HOST="localhost:3000"
# Next Auth Discord Provider
AUTH_DISCORD_ID="1335341087086084269"
AUTH_DISCORD_SECRET="9CdbZyZW0U40k3V-q7w6KcUpOIl8JKy5"
GITHUB_ID="Iv23lipwtj8miEKK0a84"
GITHUB_SECRET="382b4d65ccaeb81edc53190d5de8a1da2cf03c4c"


# Drizzle
DATABASE_URL="postgres://postgres:fmP40Mva3Ef9hVO4HGpLYJOAbMLdvXQf9jksVr2Y9SXh0lrUNg1cLCRroWWrbnQs@15.204.228.83:5432/postgres"