# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="ASFBO*GT&#B)_MCSAPOINFPVI(UYB)*$&#JN(_M<CDSPKMASPL<Z>PCXA_GG_OTEW>)"
AUTH_TRUST_HOST="localhost:3000"

# Next Auth Discord Provider
AUTH_DISCORD_ID="1335341087086084269"
AUTH_DISCORD_SECRET="5O-TGdAROTOMUXw6io8JTJMUh9lAQkaL"

#Next Auth Github Provider
GITHUB_ID="Iv23lipwtj8miEKK0a84"
GITHUB_SECRET="62a5c9947e2e689cb0dda75eafa8f0f9ab964c1f"


# Drizzle
DATABASE_URL="postgres://postgres:JaUT3PLCgqGiZ1g68uWWINpuABH7TULpDFOpMbCOPc2M4fJPYUke79XjPDteslGk@15.204.228.83:5432/postgres"

# Goats
carlos="6508855f-b6a7-459a-b51c-4a551fce8ce4"
sam="7ddb54a4-ab92-4952-8557-2fcdb096062e"
adrian="b601af77-ce75-4fde-9c9f-d6d0f845799d"
kai=""
daniel="0929357f-3dba-45ca-b2b7-9efe5964db00"
carfos=""
test="51777dee-bc89-4d41-b89d-79117b28c09f"

# Minio Configuration
MINIO_ENDPOINT=minio-b4sgck4swwoo4csc8080kcgc.kmodo.org
MINIO_PORT=443
MINIO_USE_SSL=true
MINIO_ACCESS_KEY=JLbixFQml44eG1xlzYtN
MINIO_SECRET_KEY=2twyj43eHvveFwwaCWmIybrnZUnJKoPBWG3ao8Jw
MINIO_BUCKET=assets
NEXT_PUBLIC_MINIO_PUBLIC_URL=https://minio-b4sgck4swwoo4csc8080kcgc.kmodo.org